/* Website Background Styling */
html {
    background: linear-gradient(200deg, rgb(246, 241, 179), rgb(141, 139, 168));
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
}

/* Body of Website Styling */
body {
	display: block;
    justify-content: center;
    padding: 0rem 1rem;
	padding-left: 40px;
	padding-right: 40px; 
	padding-top: 10px;
	margin:5px;
	border: 5px solid rgb(10, 10, 10);
}

/* Header Styling */
.header {
	padding: 1px;
	text-align: center;
	background: #fcfffe;
	font-size: 30px;
}

/* Image Logo Styling */
.img{
	float: left;
	padding: 15px; 
}

/* City List Styling */
.city-list{
	padding: 10px; 
	font-size: 25px;
	/* font-family:'Brush Script MT', cursive; */
	font-family: Tahoma;
	width: 320px;

}

/* Restaurant List Styling */
li {
	list-style-type: none; /* Remove bullets */
	margin-top: 10px;
	margin: 5; /* Remove margins */
	font-size: 18px;
	font-family: Tahoma,
}

/* Styling my Buttons */
button{
	background-color: #ebecf3; 
	text-align: center;
	color: rgb(0, 0, 0);
	margin: 4px 6px;
	cursor: pointer;
}

.select-city-restaurant{
  padding: 10px 10px;
  border: none;
  border-radius: 40px;
  background-color: #f59c38;
}

/* #main{
	height:2500px;
	margin:10px;
	padding:10px;
} */

/* .content{
	height:300px;
	background:#e7e6ec;
	border-top:#cfc4d4 2px solid;
	margin:0;
	padding:0;
} */
	
/* footer{
	height:50px;
	background:#f0eb8a;
	border-top:#f2f3c5 2px solid;
	margin:0;
	padding:0;
}  */